@use '/src/styles/utilities/variables';

form{
    display: flex;
    flex-direction: column;
    gap: 10px;

    .form-group {
        display: flex;
        &--inline{
            flex-direction: row;
            gap: 10px;
            app-input{
                flex: 1;
            }
        }
        &--block{
            flex-direction: column;
            gap: 10px;
        }
    }
    p{
    &.error-msg{
            font-size: 14px;
            text-align: left;
            color: variables.$red;
            margin: 8px 0;
        }
    }
}

.radio-controls {
    > label {
        display: block;
        margin-bottom: 12px;
    }
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 18px;

    .radio {
        display: flex;
        align-items: center;

        input {
            margin: 0 8px 0 0;
            width: 14px;
            height: 14px;
        }
    }
}

input[type="radio"] {
    accent-color: variables.$green;
}

.checkbox-control {
    display: flex;
    align-items: center;
    
    input {
        margin: 0 8px 0 0;
        accent-color: variables.$green;
    }
}