@use '/src/styles/utilities/variables';

.mat-tab-group{
    .mat-tab-label {
        height: 32px;
        padding: 0 24px;
        min-width: 60px;
    }
    .mat-ink-bar{
        background-color: green !important;
    }
}

.mat-snack-bar-container{
    background-color: variables.$white;
    color: variables.$font-color;
    font-weight: 00;

    .mat-simple-snackbar-action{
        .mat-button-wrapper {
            font-family: variables.$font_ubuntu__bold;
            color: variables.$primary-color;
        }
    }
}