@use '/src/styles/utilities/variables';

::ng-deep body{
    background: variables.$white;
}
.login-container{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    max-width: 30%;

}

img{
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

h1{
    font-size: 30px;
    font-family: variables.$font_ubuntu__regular;
    text-align: center;
    margin-bottom: 16px;

}

p{
    font-size: 16px;
    font-family: variables.$font_ubuntu__light;
    color: variables.$lighter-gray;
    text-align: center;
    margin-bottom: 32px;
    line-height: 20px;
}