<div class="login-container">
    <img src="/assets/images/iz-logo.svg" alt="IZ logo">
    <h1>Esselamu alejkum!</h1>
    <p>Dobrodosli na eDzemat medzlisa islamske zajednice Jajce,
    <br>Muftijstvo Travnicko</p>

    <form [formGroup]="form">
        <iz-input [type]="inputType.TEXT" placeholder="Vaše korisničko ime" [label]="formLabels.username" [frmControl]="form.get(formControlNames.username) | formControl"></iz-input>
        <iz-input [type]="inputType.PASSWORD" placeholder="Vaša lozinka" [label]="formLabels.password" [frmControl]="form.get(formControlNames.password) | formControl"></iz-input>
        <p class="error-msg" *ngIf="false">Korisničko ime ili lozinka nisu ispravni! Pokušajte ponovo sa ispravnim kredencijalima.</p>
        <button [disabled]="form.status === formStatus.INVALID" class="button button--round" (click)="logIn()">Prijavi se</button>
    </form>
</div>
