<div class="dialog-container">
    <button class="close-dialog-cross-btn" mat-dialog-close>
        <img src="assets/images/icon-close.svg" alt="Close icon">
    </button>
    <div class="dialog-header">
        <h1>Dodaj novi džemat</h1>
        <p>Džemat je organizaciona jedinica kojoj pripadaju članovi. Nije moguće imati dva džemata sa istim imenom.</p>
    </div>

    <div class="dialog-content">
        <div class="step">
            <div class="left-side">
                <iz-input placeholder="npr. Divicani" label="Naziv"  [frmControl]="store.createDzematForm.get('name') | formControl" [type]="InputType.TEXT"></iz-input>
                <iz-select [secondary]="true" label="Odaberi imama" [source]="clanoviSelect" [frmControl]="store.createDzematForm.get('clan_id') | formControl"></iz-select>
            </div>
            <div class="right-side">
                <img src="assets/images/dzemat.png">
            </div>
        </div>
    </div>

    <div class="dialog-actions">
        <button class="button button--round button--gray" mat-dialog-close>Prekini</button>
        <button class="button button--round" [disabled]="!store.createDzematForm.valid" (click)="addNewDzemat()">Spremi</button>
    </div>
</div>
