@use "/src/styles/utilities/variables";

.dialog-container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .dialog-heading {
      p{
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;

        strong {
          font-family: variables.$font_ubuntu__bold;
        }
      }
    }
  }

