<div class="dialog-container">
  <div class="dialog-heading">
    <p>
      <iz-icon name="icon-people" color="grey" [size]="SvgSize.large" [disableHover]="true"></iz-icon>
      <strong>Velid Duranovic</strong>
    </p>
  </div>
  <div class="dialog-content">
    <p>Upravljajte korisnickim racunom i njegovim podacima, ili se odjaviti sa racuna.</p>
  </div>
  <div class="dialog-actions">
    <button class="button button--round button--gray" (click)="navigateToKorisnickiRacun()"  mat-dialog-close>Upravljaj korisnickim racunom</button>
    <button class="button button--round button--red" (click)="logOut()" mat-dialog-close>
      Odjavi se
    </button>
  </div>
</div>
