// Fonts
$font_ubuntu__regular: 'Ubuntu';
$font_ubuntu__bold: 'UbuntuBold';
$font_ubuntu__bold_italic: 'UbuntuBoldItalic';
$font_ubuntu__light: 'UbuntuLight';
$font_ubuntu__light_italic: 'UbuntuLightItalic';
$font_ubuntu__medium: 'UbuntuMedium';
$font_ubuntu__medium_italic: 'UbuntuMediumItalic';

$font_montserrat__regular: 'Montserrat';
$font_montserrat__italic: 'MontserratItalic';

// Colors
$primary_color: #36BA78;
$primary_color--lighter: #ECBCB3;
$font-color: #1F1F1F;
$focus-color: rgb(244, 253, 255);
$focus-color--darker: rgb(229, 250, 255);

$gray--200: rgba(128, 128, 128, 0.8);
$gray--400: rgba(128, 128, 128, 0.6);
$gray--600: rgba(128, 128, 128, 0.4);
$gray--800: rgba(128, 128, 128, 0.2);

$gray: gray;
$lighter-gray: #A2A2A2;
$light-gray: #F5F8FA;
$slat-gray: #334144;
$white: #ffffff;
$black: #000000;
$red: red;
$red--light: #EB6464;
$red--lighter: #FFDBDB;
$green: green;
$green--light: #58CC92;
$green--lighter: #CBFFE5;