<div class="actions-panel-container">
    <button (click)="togglePanel($event)">
        <iz-icon
          name="icon-more-horizontal"
          size="sm"
          stroke="dark"
        ></iz-icon>
    </button>

    <ul class="action-panel" *ngIf="isOpened">
        <li *ngFor="let action of actions">
            <button [ngClass]="[action.extraClass ?? '']" (click)="callAction(action.actionId, $event)"> {{ action.label }}</button>
        </li>
    </ul>
</div>
<div class="shadow-panel" (click)="togglePanel($event)" aria-label="Hidden box for managing action panel" *ngIf="isOpened"></div>
