<form [formGroup]="form" *ngIf="form != undefined">
    <div class="cards">
        <div class="card">
            <iz-input [type]="inputType.TEXT" [label]="formLabels.first_name" placeholder="npr. Velija"
                [frmControl]="form.get(formControlNames.first_name) | formControl"></iz-input>

            <iz-input [type]="inputType.TEXT" [label]="formLabels.last_name" placeholder="npr. Velijovic"
                [frmControl]="form.get(formControlNames.last_name) | formControl"></iz-input>

            <iz-input [type]="inputType.TEXT" [label]="formLabels.year_of_birth" placeholder="npr. 1964"
                [frmControl]="form.get(formControlNames.year_of_birth) | formControl"></iz-input>

            <div class="radio-controls">
                <label for="sex">Odaberi spol</label>
                <div class="radio-group">
                    <div class="radio">
                        <input type="radio" id="musko" name="sex" value="male"
                            [formControlName]="formControlNames.sex">
                        <label for="musko">Muško</label>
                    </div>

                    <div class="radio">
                        <input type="radio" id="zensko" name="sex" value="female"
                            [formControlName]="formControlNames.sex">
                        <label for="zensko">Žensko</label>
                    </div>
                </div>
            </div>
            <div class="checkbox-control">
                <input type="checkbox" id="payer" name="payer" checked [formControlName]="formControlNames.payer">
                <label for="payer">{{ formLabels.payer }}</label>
            </div>
        </div>
        <div class="card">
            <iz-input [type]="inputType.TEXT" [label]="formLabels.father_name" placeholder="npr. Osman"
                [frmControl]="form.get(formControlNames.father_name) | formControl"></iz-input>

            <iz-input [type]="inputType.TEXT" [label]="formLabels.mother_name" placeholder="npr. Osmanlija"
                [frmControl]="form.get(formControlNames.mother_name) | formControl"></iz-input>

            <div class="checkbox-control">
                <input type="checkbox" id="married" name="married" checked [formControlName]="formControlNames.married">
                <label for="married">{{ formLabels.married }}</label>
            </div>
        </div>
        <div class="card">
            <iz-input [type]="inputType.TEXT" [label]="formLabels.phone_number" placeholder="npr. +387 62 421 855"
                [frmControl]="form.get(formControlNames.phone_number) | formControl"></iz-input>

            <iz-input [type]="inputType.EMAIL" [label]="formLabels.email" placeholder="npr. velidtest@email.com"
                [frmControl]="form.get(formControlNames.email) | formControl"></iz-input>

            <iz-input [type]="inputType.TEXT" [label]="formLabels.address" placeholder="npr. Divičani bb"
                [frmControl]="form.get(formControlNames.address) | formControl"></iz-input>

            <iz-number-placeholder [value]="form.get(formControlNames.jmbg)?.value" [label]="formLabels.jmbg"></iz-number-placeholder>
        </div>
    </div>
</form>
