@use '/src/styles/utilities/variables';

.cards {
    display: flex;
    gap: 46px;

    .card {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 32px;
        background: variables.$white;
        border-radius: 20px;
        padding: 48px;
    }
}