<div class="modal-container">
    <span class="title" mat-dialog-title>
        Evidentiraj plaćanje
    </span>
    <button mat-dialog-close class="mat-dialog-close"></button>
    <div mat-dialog-content>
        <div class="columns">
            <div class="column">
                <div class="data">
                    <span class="label">Ime i Prezime</span>
                    <span class="value">Velid Duranovic</span>
                </div>
                <div class="data">
                    <span class="label">Adresa</span>
                    <span class="value">Divicani bb</span>
                </div>
                <div class="data">
                    <span class="label">Broj telefona</span>
                    <span class="value">+387 62 421 866</span>
                </div>
            </div>
            <div class="column">
                <div class="data">
                    <span class="label">Ovlastena osoba</span>
                    <span class="value">Osman Osmanbegovic</span>
                </div>
                <div class="data">
                    <span class="label">Broj priznanice</span>
                    <span class="value">JC323356</span>
                </div>
                <div class="data">
                    <span class="label">Za godinu</span>
                    <span class="value">2022.</span>
                </div>
                <div class="data">
                    <span class="label">Iznos</span>
                    <span class="value">85,00 KM</span>
                </div>
            </div>
        </div>

       <div class="footer">
            <div class="date field">
                <span class="date human-input-place">29.04.1998</span>
                <span class="label">Datum</span>
            </div>
            <div class="place-for-sign-and-stamp field">
                <span class="human-input-place"></span>
                <span class="label">Potpis I pecat ovlastene osobe</span>
            </div>
       </div>
    </div>
    <div mat-dialog-actions class="buttons-container">
        <button mat-dialog-close class="button button--round button--gray">Zatvori</button>
        <button mat-dialog-close class="button button--round" (click)="evidentiraj()">Evidentiraj</button>
    </div>
</div>