<div class="dialog-container">
    <button class="close-dialog-cross-btn" mat-dialog-close>
        <img src="assets/images/icon-close.svg" alt="Close icon">
    </button>
    <div class="dialog-header">
        <h1>Dodaj novog clana</h1>
        <p>Dzematlija je vezan za jedan dzemat. On moze biti platisa, supruznik koji nije duzan da placa, dijete, skolarac, student, korisnik socijalne pomoci. 
            Ukoliko postoji opravdan razlog, dzematlija moze biti oslobodjen placanja i mimo navedenih kategorija stim sto se mora navesti razlog izuzeca.</p>
    </div>

    <div class="dialog-content">
        <div class="step step-1" *ngIf="step === 1; else step2">
            <div class="left-side">
                <iz-input placeholder="npr. Velid" label="Ime"  [frmControl]="store.createClanForm.get('first_name') | formControl" [type]="InputType.TEXT"></iz-input>
                <iz-input placeholder="npr. Duranovic" label="Prezime"  [frmControl]="store.createClanForm.get('last_name') | formControl" [type]="InputType.TEXT"></iz-input>
                <iz-input placeholder="npr. 1998" label="Godina rodjenja"  [frmControl]="store.createClanForm.get('year_of_birth') | formControl" [type]="InputType.NUMBER"></iz-input>
                <iz-input placeholder="npr. Marsala Tita 54" label="Adresa"  [frmControl]="store.createClanForm.get('address') | formControl" [type]="InputType.TEXT"></iz-input>
                <div class="radio-controls">
                    <label for="sex">Odaberi spol</label>
                    <div class="radio-group">
                        <div class="radio">
                            <input type="radio" id="musko" name="sex" value="male"
                                [formControl]="store.createClanForm.get('sex') | formControl">
                            <label for="musko">Musko</label>
                        </div>
    
                        <div class="radio">
                            <input type="radio" id="zensko" name="sex" value="female"
                                [formControl]="store.createClanForm.get('sex') | formControl">
                            <label for="zensko">Zensko</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-side">
                <img src="assets/images/family.png">
            </div>
        </div>
        <ng-template #step2>
            <div class="step step-2">
                <div class="left-side">
                    <iz-input placeholder="npr. Ahmet" label="Ime oca"  [frmControl]="store.createClanForm.get('father_name') | formControl" [type]="InputType.TEXT"></iz-input>
                    <iz-input placeholder="npr. Redzifa" label="Ime majke"  [frmControl]="store.createClanForm.get('mother_name') | formControl" [type]="InputType.TEXT"></iz-input>
                    <div class="checkbox-control">
                        <input type="checkbox" id="married" name="married" checked [formControl]="store.createClanForm.get('married') | formControl">
                        <label for="married">U braku</label>
                    </div>
                    <div class="checkbox-control">
                        <input type="checkbox" id="payer" name="payer" checked [formControl]="store.createClanForm.get('payer') | formControl">
                        <label for="payer">Platisa</label>
                    </div>
                </div>
                <div class="right-side">
                    <div class="form-group">
                        <iz-input placeholder="npr. velidprivate@gmail.com" label="Email"  [frmControl]="store.createClanForm.get('email') | formControl" [type]="InputType.TEXT"></iz-input>
                        <iz-input placeholder="npr. +387 62 421 855" label="Broj telefona"  [frmControl]="store.createClanForm.get('phone_number') | formControl" [type]="InputType.TEXT"></iz-input>
                        <iz-input placeholder="2907991132200" label="JMBG"  [frmControl]="store.createClanForm.get('jmbg') | formControl" [type]="InputType.NUMBER"></iz-input>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>

    <div class="dialog-actions">
        <button class="button button--round button--gray" mat-dialog-close>Prekini</button>
        <button class="button button--round button--gray" *ngIf="step > 1" (click)="previousStep()">Nazad</button>
        <button class="button button--round" [disabled]="!store.createClanForm.valid" (click)="nextStep()" *ngIf="step !== maxSteps">Dalje</button>
        <button class="button button--round" [disabled]="!store.createClanForm.valid" *ngIf="step === maxSteps" (click)="addNewClan()">Spremi</button>
    </div>
</div>