{{vm$ | async | json}}

<ng-container *ngIf="vm$ | async as vm">
    <iz-breadcrumb [label]="breadcrumbValues.label" [route]="breadcrumbValues.route"></iz-breadcrumb>
    <div class="clanovi-evidencija">
        <div class="status-container">
            <span class="year" [ngClass]="evidention.obligationFulfilled.value == 'DA' ? 'success' : 'error'">{{ evidention.for_year }}</span>
            <span [ngClass]="evidention.obligationFulfilled.extraClass">{{ evidention.obligationFulfilled.value == 'DA' ? 'Izmirio' : 'Nije izmirio' }} obaveze</span>
        </div>
        <div class="clanovi-evidencija-inner-container" #evidencijaPdf>
            <div class="logo-container">
                <img src="assets/images/iz-logo.svg" alt="Iz logo">
            </div>
            <h1>Izvještaj o plaćanju članarine</h1>
            <p>{{ descriptionText }}</p>
        </div>
        <div class="buttons-container">
            <button class="button primary-btn button--round" *ngIf="evidention.obligationFulfilled.value === 'NE'" (click)="showEvidentiraj()">Evidentiraj</button>
            <button class="button primary-btn button--round button--alter" (click)="savePDF()">Isprintaj</button>
        </div>
    </div>
</ng-container>