<div class="main-container">
    <div class="header">
     <iz-title title="Dzemati" [description]="countMessage"></iz-title>
      <button class="button button--round button--bigger button--add" (click)="openForm()" *ngIf="isDodavanjeDzemataEnabled()">
        Dodaj Dzemat
      </button>
    </div>
    <iz-search
      [isSmall]="false"
      placeholder="Pretrazi dzemate po imenu"
      (searchTermEvent)="search($event)"
    ></iz-search>
    <iz-table [data]="dzematiTableSource" route="dzemati" (actionEvent)="callAction($event)"></iz-table>
</div>

