<!-- <div class="select-container">
    <iz-select label="Dzemat"></iz-select>
    <iz-select label="Godina"></iz-select>
</div> -->
<div class="main">
<div class="body-container">  

    <div class="cards-container">
        <iz-statistics-card title="Mekteblije" description="Iz aktivne godine" [value]=300 color="standard"
            chartOneLabel="Musko" chartTwoLabel="Zensko" [chartOnePercent]=30 [chartTwoPercent]=70>
        </iz-statistics-card>


        <iz-statistics-card title="Mekteblije" description="Iz aktivne godine" [value]=300 color="standard"
            chartOneLabel="Musko" chartTwoLabel="Zensko" [chartOnePercent]=30 [chartTwoPercent]=70>
        </iz-statistics-card>

        <iz-statistics-card title="Mekteblije" description="Iz aktivne godine" [value]=300 color="standard"
            chartOneLabel="Musko" chartTwoLabel="Zensko" [chartOnePercent]=30 [chartTwoPercent]=70>
        </iz-statistics-card>
    </div>
    <div class="charts">
        <div class="chart-wrapper">
            <ngx-charts-line-chart
            [scheme]="colorScheme"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [results]="multi"
            >
          </ngx-charts-line-chart>
        </div>
        <div class="chart-wrapper">
            <ngx-charts-line-chart
            [scheme]="colorScheme"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [results]="multi"
            >
          </ngx-charts-line-chart>
        </div>
    </div>

    <div class="charts">
        <div class="chart-wrapper">
            <ngx-charts-bar-horizontal
            [results]="single"
            [scheme]="colorScheme"
            [gradient]="false"
            [xAxis]="true"
            [yAxis]="true"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            >
          </ngx-charts-bar-horizontal>
        </div>
        <div class="chart-wrapper">
            <ngx-charts-bar-vertical
            [results]="single"
            [scheme]="colorScheme"
            [gradient]="false"
            [xAxis]="true"
            [yAxis]="true"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            >
            </ngx-charts-bar-vertical>
        </div>
    </div>

    <div class="small-cards-row">
        <div class="small-cards-column">
            <h2 class="title">Najmladji clanovi</h2>
            <div class="small-info-card">
                <div class="inner-card">
                    <span class="name">Velid Duranovic</span>
                    <span class="date">29.04.1998</span>
                    <span class="years">25 godina</span>
                </div>
            </div>
            <div class="small-info-card">
                <div class="inner-card">
                    <span class="name">Osman Osmanovic</span>
                    <span class="date">13.09.1952</span>
                    <span class="years">70 godina</span>
                </div>
            </div>
            <div class="small-info-card">
                <div class="inner-card">
                    <span class="name">Osman Osmanovic</span>
                    <span class="date">13.09.1952</span>
                    <span class="years">70 godina</span>
                </div>
            </div>
        </div>
        <div class="small-cards-column">
            <h2 class="title">Najstariji clanovi</h2>
            <div class="small-info-card">
                <div class="inner-card">
                    <span class="name">Velid Duranovic</span>
                    <span class="date">29.04.1998</span>
                    <span class="years">25 godina</span>
                </div>
            </div>

            <div class="small-info-card">
                <div class="inner-card">
                    <span class="name">Osman Osmanovic</span>
                    <span class="date">13.09.1952</span>
                    <span class="years">70 godina</span>
                </div>
            </div>

            <div class="small-info-card">
                <div class="inner-card">
                    <span class="name">Osman Osmanovic</span>
                    <span class="date">13.09.1952</span>
                    <span class="years">70 godina</span>
                </div>
            </div>
        </div>
        <div class="small-cards-column">
            <h2 class="title">Clanovi sa najvise duga</h2>
            <div class="small-info-card">
                <div class="inner-card">
                    <span class="name">Velid Duranovic</span>
                    <span class="date">29.04.1998</span>
                    <span class="amount">4560 KM</span>
                </div>
            </div>

            <div class="small-info-card">
                <div class="inner-card">
                    <span class="name">Osman Osmanovic</span>
                    <span class="date">13.09.1952</span>
                    <span class="amount">4560 KM</span>
                </div>
            </div>

            <div class="small-info-card">
                <div class="inner-card">
                    <span class="name">Osman Osmanovic</span>
                    <span class="date">13.09.1952</span>
                    <span class="amount">4560 KM</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
